body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}
ul, h4 {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}
.hero, .footer {
    background-color: #1f2937;
    color: #E5E7Eb;
}

.herotop, .herobot {
    display: flex;
    justify-content: space-between;
    padding: 15px 20% 15px 20%;
}

.botleft, .botright {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.bodyimage {
    background-color: lightslategray;
    flex: 1;
}
