body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

}

.hero {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}

ul,
h4 {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 15px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0%;
}

.hero,
.footer {
    background-color: #1f2937;
    color: #E5E7Eb;
}

.herotop,
.herobot {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.botleft,
.botright {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 18px;
    color: #E5E7Eb;
}

.botleft {
    padding-right: 20px;
}

.botright {
    padding-left: 20px;
}

.bodyimage {
    background-color: lightslategray;
    flex: 1;
    text-align: center;
}

.botleft button,
p {
    align-self: flex-start;
    margin-top: 0%;
}

button {
    background-color: #3882F6;
    color: #E5E7Eb;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bolder;
}

.Sectiontwo {
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}

.cards {
    display: flex;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    gap: 15px;

}

.illustration {
    height: 15vh;
    width: 15vh;
    border: 3px solid #3882F6;
    border-radius: 15px;
    margin: auto;
}

.text {
    margin-top: 10px;
}